:root {
    --cyff-color: #d375ff;
    --page-bg: #131313;
}

body {
    position: relative;
    margin: 0;

    background-color: var(--page-bg);
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

body::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url(/Assets/tongue_face.svg) space 0 0;
    background-size: 100px;
    opacity: 0.0078;

    content: '';
}

/* Centered page content */

#main-content {
    position: relative;
    max-width: 30rem;
    margin: auto;
    margin-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/* Footer section */

#footer {
    height: 100px;
    margin-top: 10%;

    background-color: rgba(2, 2, 2, 0.3);
    filter: blur(30px);
}

/* Personal avatar */

#avatar {
    position: relative;
    width: 100%;
    height: 10.5rem;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 7%;
}

#avatar-fade {
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0;

    background: linear-gradient(0deg,rgba(19, 19, 19, 1) 0,rgba(19, 19, 19, 0.6) 70%,transparent);
}

/* Personal introduction */

.intro {
    text-align: center;
    font-size: 1.08rem;

    padding-bottom: 30px;
    padding-top: 7px;
}

#title {
    color: var(--cyff-color);
    font-size: 2.45rem;
    font-family: 'Lexend', sans-serif;

    margin: 0;
}

.socials {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: center;
    column-gap: 13px;
}

.socials a {
    height: 50px;
    width: 50px;
    padding: 10%;
}

.socials svg {
    height: 100%;
    width: 100%;
    fill: white;
    
    transition: fill .3s ease
}

.socials svg:hover {
    fill: var(--cyff-color);
}

/* Project showcase */

#showcase {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.category {
    width: 89%;
}

.category button {
    display: block;
    margin: auto;

    color: white;
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    text-align: center;

    background-color: transparent;
    border: transparent;

    cursor: pointer;
}

.category-content {
    margin-top: 21px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Showcase category contents */

.project-listing {
    position: relative;
    height: 220px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;

    background-size: 100%;
    background-position: center;
    border-color: #c9c9c9;

    border-width: 1px;
    border-style: solid;

    transition: border-color .25s ease;
    transition: background-size .5s ease;
}

.project-listing:hover {
    background-size: 107%;
    border-color: var(--cyff-color);
    border-width: 2px;
}

.project-listing h3 {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 9px;
    padding-left: 16px;

    color: white;
    font-weight: 100;
    font-size: 23px;
    
    background-color: rgba(255, 255, 255, 0.08);
}