:root {
    --my-color: #d375ff;
    --page-bg: #0e0e0e;
}

body {
    position: relative;
    margin: 0;

    background-color: var(--page-bg);
    font-family: 'Poppins', 'Source Sans Pro', sans-serif;
    color: white;
}

body::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: url(/Assets/tongue_face.svg) space 0 0;
    background-size: 100px;
    opacity: 0.009;

    content: '';
}

/* Centered page content */

#main-content {
    position: relative;
    max-width: 30rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    /* margin-top: 60px;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    text-shadow: 0px 0px 9px rgb(0, 0, 0);
}

/* Footer section */

#footer:not(p) {
    height: 115px;
    margin-top: 8%;

    background-color: rgba(2, 2, 2, 0.35);
    filter: blur(35px);
}

/* Personal avatar */

#avatar {
    position: relative;
    width: 100%;
    height: 10.5rem;

    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 7%;
    -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(255,255,255,0.05) 93%);
}

/* Personal introduction */

.intro {
    width: 75%;
    padding-bottom: 30px;
    padding-top: 7px;

    text-align: center;
    font-size: 1.03rem;
}

#title {
    color: var(--my-color);
    font-size: 2.45rem;
    font-family: 'Lexend', sans-serif;

    margin: 0;
}

.socials {
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: center;
    column-gap: 13px;
}

.socials a {
    height: 50px;
    width: 50px;
    padding: 10%;
}

.socials svg {
    height: 100%;
    width: 100%;

    fill: white;
    
    transition: fill .25s ease;
}

.socials a:hover svg {
    fill: var(--my-color);
}

/* Project showcase */

#showcase {
    width: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.category {
    width: 100%;
}

.category button {
    position: relative;
    display: block;
    margin: auto;

    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    text-align: center;

    background-color: transparent;
    border: transparent;

    cursor: pointer;
}

/* .category button svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;

    height: 100%;
    width: 20px;

    padding: 5px;
} */

.category-content {
    margin-top: 21px;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Showcase category contents */

.project-listing {
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 100%;
    margin-bottom: 20px;

    box-shadow: 0 0 9px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;

    border-color: #c9c9c9;
    border-width: 1px;
    border-radius: 7px;
    border-style: solid;

    transition: border-color .25s ease;
    transition: background-color .2s ease;
}

.project-listing:hover {
    background-color: #e4e4e4;
    border-color: var(--my-color);
    border-width: 2px;
}

.project-listing .thumbnail {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-color: #ebebeb;
    background-blend-mode: multiply;

    transition: all .5s ease;
}

.project-listing:hover .thumbnail {
    transform: scale(1.06);
    background-color: white;
}

.project-listing h3 {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    margin: 0;

    width: 100%;
    height: 47px;
    padding: 9px;
    padding-left: 16px;

    color: white;
    font-family: 'Poppins', 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-shadow: 1px 1px 2px #0f0f0f;
    
    background-color: rgba(255, 255, 255, 0.1);

    transition: all 0.25s ease;
}

.project-listing:hover h3 {
    color: var(--my-color);
    background-color: rgba(255, 255, 255, 0.11);
}

.project-listing h3 svg {
    position :absolute;
    margin: 0;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);

    height: 64%;
    width: 40px;
    padding-right: 4px;

    fill: white;
    opacity: 0.6;

    transition: all 0.25s ease;
}

.project-listing:hover h3 svg {
    fill: var(--my-color);
    opacity: 1;
}

/* ❄ Christmas themed stuff */

#christmas-lights {
    position: relative;
    transform: translate(-50%, -5px);
    left: 50%;

    overflow: hidden;

    width: 570px;
    max-width: 100%;
    height: 100px;
    margin-bottom: 15px;

    background-image: url(/Assets/ChristmasLights.png);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 560px;
}

#snow {
    position: absolute;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.snowflake {
    position: absolute;
    width: 8px;
    height: 8px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}